<article
  fxLayout="column"
  fxLayoutAlign="start start"
  fxLayoutGap="24px"
  fxLayout.gt-xs="row"
>
  <div
    id="leftSide"
    fxLayout="column"
    fxLayoutGap="24px"
    fxLayoutAlign="start center"
    fxFlexFill
    fxLayoutAlign.gt-xs="space-between start"
    fxFlex.gt-xs="30%"
  >
    <!-- Adresse -->
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-xs="center start"
      fxLayoutGap="5px"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <img
          src="../../assets/Pictures/Logos/Contact/adress32.svg"
          alt="Logo adresse"
        />
        <span>Adresse: </span>
      </div>
      <a
        href="https://www.google.com/maps/place/110+Av.+de+Toulouse,+31750+Escalquens/@43.523621,1.5397563,17z/data=!3m1!4b1!4m5!3m4!1s0x12ae95bcd1c36ee1:0x33d77954d1628772!8m2!3d43.5236171!4d1.541945?hl=fr"
        target="_blank"
      >
        <div
          fxLayout="column nowrap"
          fxLayoutAlign="center start"
          fxLayoutGap="5px"
        >
          <span>{{ informations.address.street }},</span>
          <span
            >{{ informations.address.zipcode }},
            {{ informations.address.city }}
            {{ informations.address.country }}</span
          >
        </div>
      </a>
    </div>
    <!-- Telephone -->
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-xs="center start"
      fxLayoutGap="5px"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <img
          src="../../assets/Pictures/Logos/Contact/phone32.svg"
          alt="Logo téléphone"
        />
        <span>Téléphone: </span>
      </div>
      <a href="tel:{{ informations.phoneNumber }}">{{
        informations.phoneNumber
      }}</a>
    </div>
    <!-- Mail -->
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-xs="center start"
      fxLayoutGap="5px"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <img
          src="../../assets/Pictures/Logos/Contact/mail32.svg"
          alt="Logo mail"
        />
        <span>Mail: </span>
      </div>
      <a href="mailto:{{ informations.mail }}">{{ informations.mail }}</a>
    </div>
    <!-- Social Network -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <a href="{{ informations.linkedIn }}" target="_blank" title="LinkedIn">
        <img
          src="../../assets/Pictures/Logos/Contact/linkedin32.svg"
          alt="Logo LinkedIn"
        />
      </a>
      <a href="{{ informations.github }}" target="_blank" title="Github">
        <img
          src="../../assets/Pictures/Logos/Projets/github.svg"
          alt="Logo Github"
        />
      </a>
      <a href="{{ informations.cv }}" target="_blank" title="Cv">
        <img
          src="../../assets/Pictures/Logos/Projets/pdf.svg"
          alt="Logo Cv pdf"
        />
      </a>
    </div>
  </div>
  <!-- Formulaire de contact-->
  <div fxFlexFill fxFlex.gt-xs="70%">
    <app-contact-form></app-contact-form>
  </div>
</article>
