#leftSide {
    height: 350px;
}

img {
    width: 30px;
    height: 30px;
}
a {
    color: var(--dateColor);
}

/* Version mobile */
@media screen and (max-width:599px){
    #leftSide {
        height: max-content;
        padding-bottom: 24px;
        border-bottom: var(--borderBottom);
    }
}