article {
    padding: 16px;
    border-bottom: solid 1px #7896FF;
}
article:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
  }
  article:first-of-type {
    padding-top: 0px;
  }
h4 {
    color: var(--nameColor);
}

.company {
    color: var(--companyColor);
    font-size: large;
    font-weight: bold;
}
.date {
    font-size: medium;
    color: var(--dateColor);
}