/* Bouton pour remonter en haut de page */
svg {
  position: fixed;
  width: 40px;
  bottom:12px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  z-index: 98;
}
/* ANIMATIONS */
svg.fadeIn {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

svg.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
/* Version Lg */
@media screen and (min-width: 960px) {
  svg {
    right: 16px;
  }
}
/* Version Tablette */
@media screen and (min-width: 600px) and (max-width: 959px) {
  svg {
    right: 16px;
  }
}
/* Version Mobile */
@media screen and (max-width: 599px) {
  svg {
    right: 12px;
  } 
}