/* Bouton pour remonter en haut de page */
svg {
  cursor: pointer;
  visibility: hidden;
  position: fixed;
  z-index: 98;
  right: 15px;
  bottom: 15px;
  width: 48px;
  height: 48px;
}
/* Version Mobile */
@media screen and (max-width:959px){
  svg {
    width:40px;
    height: 40px;
  }
}

/* ANIMATIONS */
svg.fadeIn {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  transition: bottom 0.3s ease;
}
svg.fadeIn.changeBottomHeight {
  bottom: 64px;
}

svg.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
