<ng-container *ngFor="let item of listFormations">
  <article fxLayout="column nowrap">
    <h4>{{ item.name }}</h4>
    <section fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start start"  fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <p class="m-0 text-left"><span class="company">{{ item.company }}</span> {{ item.city }}, {{ item.country }}</p>
        <p class="date">
          <ng-container
            *ngIf="
              item.startDate.getTime() !== item.endDate.getTime();
              else elseTemplate
            "
          >
            De
            {{
              item.startDate.toLocaleDateString("fr-FR", {
                month: "long",
                year: "numeric"
              }) | titlecase
            }}
            à
            {{
              item.endDate.toLocaleDateString("fr-FR", {
                month: "long",
                year: "numeric"
              }) | titlecase
            }}
          </ng-container>
          <ng-template #elseTemplate>
            {{
              item.startDate.toLocaleDateString("fr-FR", {
                month: "long",
                year: "numeric"
              }) | titlecase
            }}
          </ng-template>
        </p>
        <p *ngIf="item.diplom">{{ item.diplom }}</p>
        <p *ngIf="item.description">{{ item.description }}</p>
      </div>
      <div *ngIf="item.diplomImgUrl" fxFlexAlign="center" fxFlex.sm="110px" fxFlex.gt-md="86px" fxLayoutAlign.gt-xs="start center">
        <img
          class="diplom"
          [src]="item.diplomImgUrlThumbnail"
          id="diplomThumbnail"
          (click)="showDiplomModal(item.diplomImgUrl)"
        />
      </div>
    </section>
  </article>
</ng-container>
<!-- Modal diplome -->
<div #modal id="modal" class="modal" (click)="closeDiplomModal($event)">
  <!-- The Close Button -->
  <span class="closeModal">&times;</span>
  <!-- Modal Content (The Image) -->
  <img #modalImg class="modal-content" alt="Photo diplôme" />
</div>