<ng-container *ngFor="let item of listProjets">
  <article fxLayout="column nowrap">
    <h4>{{ item.name }}</h4>
    <section fxLayout="column" fxLayoutAlign="center start">
      <div>
        <span class="company">{{ item.company }}</span> {{ item.city }},
        {{ item.country }}
      </div>
      <p class="date">
        {{
          item.date.toLocaleDateString("fr-FR", {
            month: "long",
            year: "numeric"
          }) | titlecase
        }}
      </p>
      <p innerHtml="{{ item.description }}"></p>
    </section>
    <!-- Langages -->
    <section>
      <h6>Technologies utilisées: </h6>
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="24px">
        <ul>
          <ng-container *ngFor="let langageFe of item.langagesFrontEnd">
            <li>{{ langageFe }}</li>
          </ng-container>
        </ul>
        <ul>
          <ng-container *ngFor="let langageBE of item.langagesBackEnd">
            <li>{{ langageBE }}</li>
          </ng-container>
        </ul>
      </div>
    </section>
    <!-- Icone Link -->
    <section
      fxLayout="row nowrap"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
    >
      <ng-container *ngIf="item.url">
        <a [href]="item.url" target="_Blank"
          ><img
            title="Lien site web"
            class="imgLink"
            src="../../assets/Pictures/Logos/Projets/website48.svg"
            alt="Lien site web"
        /></a>
      </ng-container>
      <ng-container *ngIf="item.gitLink">
        <a [href]="item.gitLink" target="_blank"
          ><img
            title="Lien github"
            class="imgLink"
            src="../../assets/Pictures/Logos/Projets/github.svg"
            alt="Lien github"
        /></a>
      </ng-container>
      <ng-container *ngIf="item.imagePath">
        <img
          tabindex="0"
          title="Capture d'écran"
          class="imgLink"
          src="../../assets/Pictures/Logos/Projets/captureEcran.svg"
          (click)="showImagePathModal(item.imagePath)"
        />
      </ng-container>
      <ng-container *ngIf="item.documentationUrl">
        <a [href]="item.documentationUrl" target="_blank">
          <img
            class="imgLink"
            tabindex="0"
            src="../../assets/Pictures/Logos/Projets/pdf.svg"
            alt="Logo documentation"
          />
        </a>
      </ng-container>
    </section>
  </article>
</ng-container>

<!-- Modal -->
<div #modal id="modal" class="modal" (click)="closeImagePathModal($event)">
  <!-- The Close Button -->
  <span class="closeModal">&times;</span>
  <div class="modal-content" #carousel>
    <!-- Modal Content (The Image) -->
    <ng-container *ngIf="showCarousel">
      <app-carousel-config
        [images]="imagePathToShowInCarousel"
      ></app-carousel-config>
    </ng-container>
  </div>
</div>