/* Animation DIV */
.competencesContainer{
  height: 100%;
}
.competenceName {
  padding: 0 10px;
}
.competenceName {
  font-size: 1.3em;
  animation: 1s linear entryCn;
}
@keyframes entryCn {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }to {
        opacity: 1;
     }
}
@keyframes entryCl {
    from {
        opacity: 0;
        transform: translateX(150%);
    }to {
        opacity: 1;
    }
}
/* Logos */
.logo {
  width: 60px;
}
.LogosRight,.LogosLeft {
  visibility: hidden;
  animation: fallTop 1.5s ease 2.5s 1 normal forwards;
}
@keyframes fallTop {
  from{
    opacity: 0;
    transform: translateY(-150%);
  }to{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
/* LEFT LOGO */
#HtmlLogo , #CssLogo , #BootstrapLogo , #VsCodeLogo{
  animation: rotateClockInverse 0.3s linear 4s 1 normal forwards;
}

/* RIGHT LOGO */
#JavascriptLogo , #AngularLogo , #PhpLogo , #LaravelLogo{
  animation: rotateClock 0.3s linear 4s 1 normal forwards;
}
/* ROTATE */
@keyframes rotateClock {
  from {
  } to {
    transform: rotateZ(25deg);
  }
}
@keyframes rotateClockInverse {
  from  {
  } to {
    transform: rotateZ(-25deg);
  }
}
/* Tablette */
@media screen and (max-width:959px){
  .competenceName{
    font-size: 1.2em;
  }
  .logo{
    width: 40px;
  }
}
/* Mobile */
@media screen and (max-width:599px){
  .competenceName{
    font-size: 1em;
  }
  .circle {
    width: 15px;
    height: 15px;
  }
  .logo{
    width:25px;
  }
}
