/* Point colorés */
.circle {
  width: 20px;
  height: 20px;
  border: solid 1px #213840;
  border-radius: 50%;
  background-color: transparent;
}
.circleColored {
    animation: 1s ease-in-out point;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes point {
  from {
    background-color: white;
  }
  to {
    background-color: #63A8BF;
  }
}
.circleLeft {
  width: 50%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.circleRight {
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

/* Animation DIV */
.competenceRow {
  height:40px;
}
.competence {
  padding: 0 10px;
  width: 50%;
  height: 100%;
}
span {
  font-size: 1.2em;
}
.competenceName {
    position: relative;
    left: 0;
    opacity: 1;
    animation: 1s linear entry;
}
@keyframes entry {
    from {
        opacity: 0;
        left: -50%;
    }
    to {
        opacity: 1;
        left:0;
    }
}
.competenceLevel {
    position: relative;
    right: 0;
    animation: 1s linear entryRight;
}
@keyframes entryRight {
    from {
        right: -50%;
    }
    to {
        right: 0;
    }
}

/* Logos */
.logo {
  width: 60px;
  position: absolute;
  top: calc(0px - 100px);
}
/* LOGO HTML */
#HtmlLogo {
  left: 33%;
  animation: leftUpLogo 1s ease-in-out 3s 1 normal forwards, rotateClockInverse 0.3s linear 4s 1 normal forwards;
}
/* LOGO CSS */
#CssLogo {
  left: 41%;
  animation: leftUpLogo 1s ease-in-out 3s 1 normal forwards,rotateClockInverse 0.3s linear 4s 1 normal forwards;
}
@keyframes leftUpLogo{
  from {
    top: 200px;
  } to {
    top: 250px;
  }
}
/* BOOTSTRAP LOGO */
#BootstrapLogo {
  left: 33%;
  animation: leftDownLogo 1s ease-in-out 2s 1 normal forwards,rotateClockInverse 0.3s linear 4s 1 normal forwards;
}
/* VSCODE LOGO */
#VsCodeLogo {
  left: 41%;
  animation: leftDownLogo 1s ease-in-out 2s 1 normal forwards,rotateClockInverse 0.3s linear 4s 1 normal forwards;
}
@keyframes leftDownLogo {
  from {
    top: 200px;
  } to {
    top: 450px;
  }
}
/* RIGHT UP LOGO */
#JavascriptLogo{
  left: 80%;
  animation: rightUpLogo 1s ease-out 3s 1 normal forwards , rotateClock 0.3s linear 4s 1 normal forwards;
}
#AngularLogo {
  left: 90%;
  animation: rightUpLogo 1s ease-out 3s 1 normal forwards , rotateClock 0.3s linear 4s 1 normal forwards;
}
@keyframes rightUpLogo {
  from {
    top: 200px;
  } to {
    top: 250px;
  }
}
/* RIGHT DOWN LOGO */
#PhpLogo {
  left: 80%;
  animation: rightDownLogo 1s ease-out 2s 1 normal forwards , rotateClock 0.3s linear 4s 1 normal forwards;
}
#LaravelLogo {
  left: 90%;
  animation: rightDownLogo 1s ease-out 2s 1 normal forwards , rotateClock 0.3s linear 4s 1 normal forwards;

}
@keyframes rightDownLogo {
  from {
    top: 200px;
  } to {
    top: 450px;
  }
}
/* ROTATE */
@keyframes rotateClock {
  from {
    transform: rotateZ(0deg);
  } to {
    transform: rotateZ(35deg);
  }
}
@keyframes rotateClockInverse {
  from  {
    transform: rotateZ(0deg);
  } to {
    transform: rotateZ(-25deg);
  }
}