/* Point colorés */
.circle {
  width: 20px;
  height: 20px;
  border: solid 1px #213840;
  border-radius: 50%;
  background-color: transparent;
}
.circleLeft,.circleRight{
  width: 50%;
  height: 100%;
}
.circleLeft {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.circleRight {
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}
.circleColored {
  animation: point 1.5s ease-in-out 1s 1 normal forwards;
}
@keyframes point {
  from {
  }to {
    background-color: #63A8BF;
  }
}
/* Animation DIV */
.competencesContainer{
  height:100%;
}
.competenceRow {
  height:40px;
}
.competence {
  padding: 0 10px;
  width: 50%;
}
.competenceName {
  font-size: 1.3em;
  animation: 1s linear entryCn;
}
@keyframes entryCn {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }to {
        opacity: 1;
     }
}
.competenceLevel {
    animation: 1s linear entryCl;
}
@keyframes entryCl {
    from {
        opacity: 0;
        transform: translateX(150%);
    }to {
        opacity: 1;
    }
}
/* Logos */
.logo {
  width: 60px;
}
.LogosRight,.LogosLeft {
  height: 100%;
  z-index: -1;
  visibility: hidden;
  animation: fallTop 1.5s ease 2.5s 1 normal forwards;
}
@keyframes fallTop {
  from{
    transform: translateY(-150%);
  }to{
    visibility: visible;
    transform: translateY(0);
  }
}
/* LEFT LOGO */
#HtmlLogo , #CssLogo , #BootstrapLogo , #VsCodeLogo{
  animation: rotateClockInverse 0.3s linear 4s 1 normal forwards;
}

/* RIGHT LOGO */
#JavascriptLogo , #AngularLogo , #PhpLogo , #LaravelLogo{
  animation: rotateClock 0.3s linear 4s 1 normal forwards;
}
/* ROTATE */
@keyframes rotateClock {
  from {
  } to {
    transform: rotateZ(25deg);
  }
}
@keyframes rotateClockInverse {
  from  {
  } to {
    transform: rotateZ(-25deg);
  }
}
/* Tablette */
@media screen and (max-width:959px){
  .competenceName{
    font-size: 1.2em;
  }
  .logo{
    width: 40px;
  }
}
/* Mobile */
@media screen and (max-width:599px){
  .competenceName{
    font-size: 1em;
  }
  .circle {
    width: 15px;
    height: 15px;
  }
  .logo{
    width:25px;
  }
}