img {
    width: 30px;
}
.imgIcone {
    filter: invert(1);
}
.nav-link {
    color: ivory;
    width: 100%;
}
.nav-link:hover {
    background-color: #FFF56B;
    color: #213840;
}
.nav-link.active{
    font-weight: bold;
    background-color: #FFF56B;
    color: #213840;
}
.nav-link.active > .imgIcone{
    filter: invert(0);
}

#burgerMenuDiv {
    position: absolute;
    top: 160px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
}
#menuSelectedName {
    width: 100%;
    border: solid 2px #427080;
    border-radius: 12px;
    font-weight: bold;
    background-color: #FFF56B;
}
#menuElement {
    background-color: #427080;
}
/* Version tablette */
@media screen and (max-width:959px){
    #menuElement {
        z-index: 10;
        position: absolute;
        width: 50%;
        top: 200px;
        left: calc(0px - 100%);
        border-bottom-right-radius: 12px;
        transition: left 0.3s ease-out;
    }
    #menuElement.show {
        left: 0px;
    }
    .nav-link:hover {
        background-color: transparent;
    }
}
/* Version mobile */
@media screen and (max-width:599px){
    #menuElement {
        width: 100%;
        border-bottom-right-radius: 0px;
    }
}
