<!-- BurgerMenu button -->
<div
  fxHide.gt-sm
  fxLayout="row nowrap"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
  id="burgerMenuDiv"
>
  <img
    src="../../../../assets/Pictures/Logos/Navbar/menuBurger48.svg"
    alt="Menu Burger"
    (click)="displayMenuElement()"
  />
  <div id="menuSelectedName" fxLayout="row" fxLayoutAlign="center center">
    {{ menuSelectedTitle | async }}
  </div>
</div>
<!-- barre affichage section selectionné (Version Mobile)-->

<!-- Menu -->
<div fxHide fxShow.gt-sm #menuElement id="menuElement">
  <ng-container *ngFor="let item of menu">
    <a
      class="nav-link"
      [routerLink]="item.url"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="displayMenuElement()"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <img [src]="item.icone" alt="icone" class="imgIcone" />
      <span>{{ item.name }}</span>
    </a>
  </ng-container>
</div>
