/* Version Lg */
@media screen and (min-width:960px){
  app-navbar {
    background-color: #427080;
    min-height: 100vh;
  }
  #contentRouterOutlet {
    padding: 24px;
  }
}
/* Version Tablette */
@media screen and (max-width: 959px) {
  #contentRouterOutlet {
    padding: 16px;
  }
}
/* Version Mobile */
@media screen and (max-width: 599px) {
  #contentRouterOutlet {
    padding: 12px;
  }
}
