#contentRouterOutlet {
  margin:0;
}
/* Version Xl */
@media screen and (min-width:1281px){
  #contentRouterOutlet{
    background: url(../assets/Pictures/Background/body/cubesBlancsXl.png); 
    background-size: cover;
    background-position: top;
  }
}
/* Version Lg */
@media screen and (min-width:960px){
  app-navbar {
    background-color: #427080;
    min-height: calc(100vh - var(--heightSizeTopbar));
    width: var(--widthAppNavbar);
  }
  #contentRouterOutlet {
    background: url(../assets/Pictures/Background/body/cubesBlancsLg.png); 
    background-size: cover;
    background-position: top;
    padding: 24px;
  }
}
/* Version Tablette */
@media screen and (max-width: 959px) {
  #contentRouterOutlet {
    background: url(../assets/Pictures/Background/body/cubesBlancsTablette.png); 
    background-position: center;
    background-attachment: fixed;
    padding: 16px;
  }
}
/* Version Mobile */
@media screen and (max-width: 599px) {
  #contentRouterOutlet {
    background: url(../assets/Pictures/Background/body/cubesBlancsMobile.png);
    background-position: center;
    background-attachment: fixed; 
    padding: 12px;
  }
}
