#bodyWithoutTopbar {
  min-height: calc(100vh - var(--heightSizeTopbar));
}
/* Version Xl */
@media screen and (min-width: 1280px) {
  app-navbar {
    background-color: #427080;
    width: var(--widthAppNavbar);
  }
  #content {
    background: url(../assets/Pictures/Background/body/cubesBlancsXl.jpg);
    background-size: cover;
    background-position: top;
  }
  #routerOutlet {
    padding: 24px;
  }
}
/* Version Lg */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  app-navbar {
    background-color: #427080;
    width: var(--widthAppNavbar);
  }
  #content {
    background: url(../assets/Pictures/Background/body/cubesBlancsLg.jpg);
    background-size: cover;
    background-position: top;
  }
  #routerOutlet {
    padding: 24px;
  }
}
/* Version Tablette */
@media screen and (min-width: 600px) and (max-width: 959px) {
  #content {
    background: url(../assets/Pictures/Background/body/cubesBlancsTablette.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }
  #routerOutlet {
    padding: 16px;
  }
}
/* Version Mobile */
@media screen and (max-width: 599px) {
  #bodyWithoutTopbar {
    min-height: calc(100vh - var(--heightSizeTopbarMobile));
  }
  #content {
    background: url(../assets/Pictures/Background/body/cubesBlancsMobile.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }
  #routerOutlet {
    /* min-height: calc(100% - 86px); */
    padding: 12px;
  }
}
