h1 , h3{
    font-family: molle-italic;
    text-shadow: #daf6ff 2px 2px;
    margin: 0;
}
#topBar {
    height: var(--heightSizeTopbar);
    background-color: #427080;
    position: relative;
    z-index: 10;
}
#name , #firstName {
    visibility: hidden;
    padding: 0 8px;
}
#name {
    animation: nameEntryLeft 1.5s ease-in-out 0.5s 1 normal forwards;
}
@keyframes nameEntryLeft {
    from {
        transform: translateX(-100%);
    } to {
        visibility: visible;
    }
}
#firstName {
    animation: firstNameEntryRight 1.5s ease-in-out 0.5s 1 normal forwards;
}
@keyframes firstNameEntryRight {
    from {
        transform: translateX(100%);
    } to {
        visibility: visible;
    }
}
#title {
    opacity: 0;
    animation: entryTitle 1.5s linear 2s 1 normal forwards;
}
@keyframes entryTitle {
    0% {
        opacity: 0;
        font-size: 0.1em;
        transform: rotateX(0deg);
    }
    10% {
        transform: rotateX(180deg);
    }
    20% {
        transform: rotateX(0deg);
    }
    30% {
        transform: rotateX(180deg);
    }
    40% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    60% {
        transform: rotateX(0deg);
    }
    70% {
        transform: rotateX(180deg);
    }
    80% {
        transform: rotateX(0deg);
    }
    90% {
        transform: rotateX(180deg);
    } 
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
/* Version Xl */
#topBar {
    background: url('../../../../assets/Pictures/Background/topbar/topbar_xl.jpg');
    background-position: center;
    background-size: cover;
}
/* Version Lg */
@media screen and (min-width:960px) and (max-width:1280px){
    #topBar {
        background: url('../../../../assets/Pictures/Background/topbar/topbar_lg.jpg');
        background-position: center;
        background-size: cover;
    }
}
/* Version Tablette */
@media screen and (min-width:600px) and (max-width:959px){
    #topBar {
        padding-bottom: 40px;
        background: url('../../../../assets/Pictures/Background/topbar/topbar_tablette.jpg');
        background-position: bottom;
        background-size: cover;

    }
}
/* Version Mobile */
@media screen and (max-width:599px) {
    #topBar {
        padding-bottom: 40px;
        background: url('../../../../assets/Pictures/Background/topbar/topbar_mobile.jpg');
        background-position: bottom;
        background-size: cover;
        height: var(--heightSizeTopbarMobile);
    }
    h1 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.26em;
    }
}