/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    --nameColor: #213840;
    --companyColor: #427080;
    --dateColor: #63A8BF;
}

@font-face{
    font-family: molle-italic;
    src: url(assets/Fonts/Molle-Italic.ttf);
}
