/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  --nameColor: #213840;
  --companyColor: #427080;
  --dateColor: #63a8bf;
  --yellowColor: #fff56b;
  --borderBottom: solid 1px #7896ff;
  --heightSizeTopbar: 190px;
  --heightSizeTopbarMobile: 166px;
  --widthAppNavbar: 21%;
}
/* FONTS */
@font-face {
  font-family: molle-italic;
  src: url(assets/Fonts/Molle-Italic.ttf);
}
@font-face {
  font-family: Quenda;
  src: url(assets/Fonts/Quenda-Medium.otf);
}
p,li,span,a{
  font-family: Helvetica,Verdana,sans-serif;
}
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: var(--nameColor);
}
h6 {
  color: var(--companyColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* OTHERS GENERAL */
li {
  margin-bottom: 16px;
}
li:last-of-type {
    margin-bottom: 0px;
}
article {
  padding: 24px;
  border-bottom: solid 1px #7896ff;
}
article:last-of-type {
  border-bottom: none;
  padding-bottom: 0px;
}
article:first-of-type {
  padding-top: 0px;
}
section {
  padding: 0 16px 16px 16px;
}
article > section:last-of-type {
  padding-bottom: 0px;
}
p {
  text-align: justify;
}
@media screen and (max-width: 959px){
  article {
      padding: 16px 0;
  }
}
/* Liens ajouté dans string fourni par les services */
.linkService , .linkService:hover {
  color: #63A8BF;
}
/* Carousel */
.carousel-indicators {
  bottom: -60px;
}
.carousel-indicators > li {
  background-color: #fff56b;
}
.carousel-indicators > li.active {
  background-color: #63a8bf;
}
