<article fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div fxLayout="row nowrap" fxLayoutAlign="center center">
    <img
      id="profilPicture"
      src="../../assets/Pictures/ProfilPicture/PhotoIdSansFond.png"
      alt="Photo profil"
    />
  </div>
  <p class="text-justify">
    Passionné d'informatique, j'ai décidé en 2019
    de m'intéresser au développement web.<br /><br />
    Après avoir suivi une formation de concepteur développeur d'applications et
    obtenu mon titre professionnel, je souhaite aujourd'hui intégrer une équipe afin
    d'enrichir mes compétences et continuer ainsi à évoluer dans ce domaine qui
    me plait.
  </p>
</article>