<article fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div fxLayout="row nowrap" fxLayoutAlign="center center">
    <img
      id="profilPicture"
      src="../../assets/Pictures/ProfilPicture/PhotoIdSansFond100.png"
      alt="Photo profil"
    />
  </div>
  <p class="text-justify text-center m-0">
    Bonjour, Je m'appelle Romain Marcant et j'ai 38 ans.
    <br /><br />
    Passionné d'informatique et d’abord formé aux réseaux et télécommunications, j'ai découvert, en 2019, un
domaine ayant toujours attiré ma curiosité : le développement WEB.<br><br>
Former et diplômer en tant que concepteur développeur d'applications, c’est dans ce domaine que ma
carrière professionnelle doit me faire m’épanouir.<br><br>
Je souhaite intégrer une équipe afin de développer mes connaissances, mes compétences et participer aux
projets d’une entreprise.
  </p>
</article>