<article fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div fxLayout="row nowrap" fxLayoutAlign="center center">
    <img
      id="profilPicture"
      src="../../assets/Pictures/ProfilPicture/PhotoIdSansFond100.png"
      alt="Photo profil"
    />
  </div>
  <p class="text-justify text-center m-0">
    Bonjour, Je m'appelle Romain Marcant et j'ai 38 ans.
    <br /><br />
    Passionné d'informatique et formé aux réseaux et télécommunications, j'ai voulu, en 2019, découvrir un
univers ayant toujours attiré ma curiosité : le développement WEB.<br><br>
Aujourd'hui, formé et diplômé en tant que Concepteur Développeur d'Applications, c’est dans ce domaine que je souhaite m'épanouir professionnellement.<br><br>
J'ai à coeur de faire partie intégrante d'une équipe et travailler sur des projets d'entreprise, afin d'enrichir mes connaissances et acquérir de nouvelles compétences.
  </p>
</article>